body {
  font-family: Arial, sans-serif;
  margin: 0;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

h1, h2 {
  color: #333;
}

nav a {
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 8px;
  font-size: 16px;
}

header {
  border-bottom: 3px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
footer {
  border-top: 3px solid #ccc;
  padding-top: 1rem;
  margin-top: 1rem;
}